---
import { SITE } from "@/lib/config";
import Head from "@/components/bases/head.astro";
import Header from "@/components/shared/header.astro";
import Footer from "@/components/shared/footer.astro";
import BannerSection from "@/components/shared/banner-section.astro";
import AuthorModal from "@/components/shared/author-modal.astro";
import type { Entry } from "@/lib/types";
import { getMeta } from "@/lib/utils/getMeta";

type Props = {
  entry: Entry;
};

const { entry } = Astro.props;

const meta = await getMeta(entry);
---

<!doctype html>
<html lang={SITE.locale} dir={SITE.dir}>
  <Head meta={meta} />
  <body class="flex flex-col">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NFDHSBNS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <BannerSection />
    <Footer />
    <AuthorModal />
  </body>
</html>
