---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./base.astro";
import ViewListHeader from "@/components/shared/view-list-header.astro";
import LatestArticles from "@/components/sidebar/latest-articles.astro";
import AdSpace from "@/components/sidebar/ad-space.astro";
import CategorySearch from "@/components/sidebar/category-search.astro";
import PopularArticles from "@/components/sidebar/popular-articles.astro";

type Props = {
  header: string;
  entry: CollectionEntry<"views">;
};

const { entry, header } = Astro.props;
---

<BaseLayout entry={entry}>
  <div class="bg-base-200 min-h-screen">
    <div class="container max-w-7xl mx-auto px-4 pt-4 pb-8" data-pagefind-ignore="all">
      <ViewListHeader title={header} />
      
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-12">
        <!-- メインコンテンツ -->
        <div class="lg:col-span-2 order-1">
          <slot />
        </div>
        
        <!-- サイドバー -->
        <aside class="lg:col-span-1 order-2">
          <div class="space-y-6">
            <LatestArticles />
            <AdSpace />
            <CategorySearch />
            <PopularArticles />
          </div>
        </aside>
      </div>
    </div>
  </div>
</BaseLayout>
